html {
  height: 100%;
}

#root {
  width: 1100px;
  height: 100%;
}

.App {
  text-align: center;
}

.App-link {
  color: #27697b;
}

.Centered-text {
  display: flex;
  justify-self: center;
}

.banner {
  width: 100%;
}

body {
  background-image: linear-gradient(whitesmoke, rgb(0, 0, 78));
  display: flex;
  justify-content: center;
  height: 100%;
  background-attachment: fixed;

}

canvas{  
  background-color: white;
  /* border: solid black 10px; */
  margin-left: 10px;
  margin-right: 10px;
}

nav {
  flex-direction: column;
  background-color: rgb(0, 0, 78);
  color: whitesmoke;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Arial';
  font-size: 28px;
  margin-bottom: 30px;
  border-bottom: solid black 2px;
}


.settings-button{
  padding: 5px;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(75, 88, 230);
  color: whitesmoke;
  font-size: medium;
  width: 100%;
  height: 55px;
  font-size: 1em;
}
.nav-button{
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  background-color: rgb(28, 34, 99);
  color: whitesmoke;
  font-size: medium;
  width: 100%;
  height: 55px;
  font-size: 18px;
}

a{
  color: rgb(0, 0, 0);
  color: rgb(43, 0, 128);
  font-size: medium;
  width: 100%;
  font-size: 18px;}

.columns{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.vertical{
  display: flex;
  flex-direction: column;
}

ul{
  display:flex;
  align-items: left;
  flex-direction: column;
}

.horizontal{
  display: flex;
  flex-direction: row;
}

.tickermarks{
  text-align: center;
  font-size: .1vw;
}

.settings{
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 150px;
  color: whitesmoke;
}

.info{
  display: flex;
  flex-direction: column;
  height: 600px;
  color: whitesmoke;
  width: 150px;
}

.wolfram-options{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-top: 10px;
}

h1 {
  margin: 5px;
}

input {
  margin-bottom: 15px;
}

.home-view {
  background-color: whitesmoke;
  border: solid black 2px;
  padding: 10px;
}

.imbeded-link {
  color:rgb(0, 0, 0);
}