#root {
  background-color: darkslategrey;
}

.App {
  text-align: center;
}

.App-link {
  color: #27697b;
}

.Centered-text {
  display: flex;
  justify-self: center;
}

body {
  background-color: rgb(24, 81, 100);
  display: flex;
  justify-content: center;
}

canvas{  
  background-color: white;
  border: solid black 2px;
  margin-left: 10px;
  margin-right: 10px;
}

nav {
  flex-direction: column;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: 'Arial';
  font-size: 28px;
}


.settings-button{
  padding: 5px;
  margin-bottom: 5px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  background-color: rgb(75, 88, 230);
  color: whitesmoke;
  font-size: medium;
  width: 100%;
  height: 55px;
  font-size: 1em;
}
.nav-button{
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 5px;
  color: rgb(0, 0, 0);
  border-radius: 15px;
  background-color: rgb(28, 34, 99);
  color: whitesmoke;
  font-size: medium;
  width: 100%;
  height: 55px;
  font-size: 18px;
}
.columns{
  display: flex;
  flex-direction: row;
}

.vertical{
  display: flex;
  flex-direction: column;
}

.horizontal{
  display: flex;
  flex-direction: row;
}

.tickermarks{
  text-align: center;
  font-size: .1vw;
}

.settings{
  display: flex;
  flex-direction: column;
  height: 600px;
  width: 150px;
  color: whitesmoke;
}

.info{
  display: flex;
  flex-direction: column;
  height: 600px;
  color: whitesmoke;
  width: 150px;
}

h1 {
  margin: 5px;
}